<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Connect Four vs AI</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>

    <body style="background-color: rgb(232, 220, 191);">

        <h1 style = "font-family: 'Courier New', Courier, monospace;">Connect Four vs. AI</h1>

        <div class="semi-transparent-box">
                <p id="winMsg" style="display: none; position: absolute; 
                    z-index: 100; color: red; font-size: 24px; font-weight: bold; 
                    top: 10px; left: 50%; transform: translateX(-50%);">Error</p>
        </div>

        <div class="gameBoard">

            <div class="pieceLayer" id="pieces"></div>

            <img src="{{ url_for('static', filename='GameBoard.png') }}" class="boardImage">

            <div>
                <button class="columnButton" style="left:67px" onclick="dropPlayer(0)"></button>
                <button class="columnButton" style="left:162px" onclick="dropPlayer(1)"></button>
                <button class="columnButton" style="left:255px" onclick="dropPlayer(2)"></button>
                <button class="columnButton" style="left:350px" onclick="dropPlayer(3)"></button>
                <button class="columnButton" style="left:444px" onclick="dropPlayer(4)"></button>
                <button class="columnButton" style="left:538px" onclick="dropPlayer(5)"></button>
                <button class="columnButton" style="left:632px" onclick="dropPlayer(6)"></button>
            </div>
        </div>
        
        <div class="container">
            <button style = "font-family: 'Courier New', Courier, monospace;"class ="theButton" onclick="reset()">Restart</button>
        </div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>
